
#board.chrome-trello-layout-grid {
    white-space: normal !important;
    overflow: auto !important;
}

#board.chrome-trello-layout-grid .list-wrapper {
    height: auto !important;
    margin: 10px !important;
}
